- ri = recipe_ingredient
- unless ri.blank?
  %li.ingredient
    - unless ri.value.blank?
      %span.value= round ri.value
    - unless ri.value_type.blank?
      %span.type= h ri.value_type
      %span.ft= _("of")
    = ri.ingredient.name
    %span{:title => ri.comment}= truncate ri.comment, :length => 30
    - if ri.optional
      %span.ft (#{_("optional")})
