%h1= title _("change your password")

- unless @user.errors.empty?
  .error
    %h2= _('It looks like to be missing some data')
    %p= _('Reviews the form before continuing')

= form_for :user, :url => user_update_password_path(@user) do |f|

  .field
    = f.label :password, _("password")
    = f.password_field :password, :class => "text", :size => 30, :required => true, :maxlength => 255

  .field
    = f.label :password_confirmation, _("confirm password")
    = f.password_field :password_confirmation, :class => "text", :size => 30, :required => true, :maxlength => 255

  %p#submit
    = f.submit _("change")
