<div id="login">
  <h1><%= _("sign in") %></h1>

  <%= form_for @user_session, :url => session_path do |f| %>
    <%= f.error_messages :header_message => false, :message => false %>

    <div class="field">
      <%= f.label :email, _("email") %>
      <%= f.text_field :email %>
    </div>

    <div class="field">
      <%= f.label :password, _("password") %>
      <%= f.password_field :password %>
    </div>

    <div class="field">
      <p>
        <%= f.check_box :remember_me %><%= f.label :remember_me, _("remember me on this computer") %>
      </p>
    </div>

    <p id="submit">
      <%= f.submit _("come on in") %>
    </p>

  <% end %>
</div>
