<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <%= _("Hello %{user}!") % {:user => h(@user.name)} %><br/>
    <br/>
    <%= @subject %>:<br/>
    <br/>
    <div class="body">
      <%= simple_format(h(@comment.body)) %>
    </div>
    <br/>
    * <%= _("You can see this comment in %{recipe}") % {
      :recipe => link_to(_("%{recipe} by %{author}") % {:recipe => @comment.recipe.name, :author => @comment.recipe.author.name}), "http://rezets.com/#{user_recipe_path(@comment.recipe.author, @comment.recipe)}#comment-#{@comment.id}" %>,<br/>

    * <%= _("or you can add a %{newcomment}") % {:newcomment => link_to _("new comment"), "http://rezets.com/#{user_recipe_path(@comment.recipe.author, @comment.recipe)}#comment-new"} %>.<br/>
    <br/>
    ---<br/>
    <%= link_to 'rezets.com', "http://rezets.com" %><br/>
    <%= _("share your recipes") %>
  </body>
</html> 
