<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%=h @user.name %> te ha invitado a unirte a rezets.com y te dice:</p>
    <div class="body">
      <%= simple_format(h(@message)) %>

      <br/>
      <p>Puedes comenzar por:</p>
      <p><%= link_to "darte de alta rezets.com", "http://www.rezets.com#{new_user_path}/#{@invitation.token}" %></p>

      <p><%= link_to "ver la página de #{@user.name}", "http://www.rezets.com#{user_path(@user)}" %></p>

      </p><%= link_to "descubrir nuevas recetas", "http://www.rezets.com/recipes" %></p>
    </div>
  </body>
</html> 
