<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= _("%{user} has invited you to join to rezets.com and says you:") % {:user => h(@user.name)} %></p>
    <div class="body">
      <%= simple_format(h(@message)) %>

      <br/>
      <p><%= _("You can start by:") %></p>
      <p><%= link_to _("sign up rezets.com"), new_user_url + '/' + @invitation.token %></p>
      <p><%= link_to _("see %{user} page") % {:user => @user.name}, user_url(@user) %></p>
      </p><%= link_to _("discover new recipes"), recipes_url %></p>
    </div>
  </body>
</html> 
