%p= _("Hi!")

- if @message.blank?
  %p= _("%{user} has shared a %{recipe} recipe with you!") % {:user => @user_name, :recipe => @recipe.name.downcase }
- else
  %p= _("%{user} has shared a %{recipe} recipe with you and says:") % {:user => @user_name, :recipe => @recipe.name.downcase }
  = simple_format(@message)

%p
  %span{:style => "font-size:1.4em"}= link_to @recipe.name.capitalize,        |
      user_recipe_url(@recipe.author,@recipe) |
  %br/
  = link_to @recipe.category.name, category_url(@recipe.category)
  %br/
  = _('by')
  = link_to image_tag(@recipe.author.avatar.url(:thumb), :alt => @recipe.author.name, :style => 'border:none; vertical-align:middle'), user_url(@recipe.author)
  = link_to @recipe.author.name, user_url(@recipe.author)
  =_("updated %{time} ago") % {:time => distance_of_time_in_words_to_now(@recipe.updated_at)}

= link_to image_tag(@recipe.photo.url(:large), :class => "photo", :alt => @recipe.name, :style => 'border:none'), |
  user_recipe_url(@recipe.author,@recipe) |

%p{:style => "margin-top:1em; font-size:1.3em;"}
  %span{:style => "color:#380"}= _("ingredients")
  (para #{h @recipe.num_persons} personas)

- @recipe.recipe_ingredients.each do |ri|
  路
  - unless ri.value.blank?
    = round ri.value
  - unless ri.value_type.blank?
    = h ri.value_type
    = _("of")
  = h ri.ingredient.name
  = h ri.comment
  - if ri.optional
    %span.ft
      (#{_("optional")})
  %br/
%p{:style => "margin-top:1em; font-size:1.3em;"}
  %span{:style => "color:#380"}= _("directions")
  (#{@recipe.cook_time} #{_("min")})
.instructions
  = simple_format @recipe.directions

%br/
%p= _("now you can,")
%p
  路 #{link_to _("comment on the recipe"), user_recipe_url(@recipe.author, @recipe)}
  %br/
  路 #{link_to _("see more %{author}'s recipes") % {:author => @recipe.author.name}, user_url(@recipe.author.name)}
  %br/
  路 #{link_to _("discover new recipes"), recipes_url}
\--
%br/
= link_to 'rezets.com', root_url, :title => _("share your recipes")
%br/
= _("share your recipes")
