#comment-new.comment
  = link_to image_tag(current_user.avatar.url(:medium), :class => "avatar", :alt => ""), current_user
  .inner-comment
    = form_for comment, :url => [recipe.author,recipe, comment] do |f|
      .field
        = f.label :body, current_user.name
        = f.text_area :body
        -#, :required => true
      %p#submit
        = f.submit _('make a comment')
