#comment-new.comment
  = link_to_user_avatar(current_user)
  .inner-comment
    = form_for [recipe.author,recipe, comment] do |f|
      .field
        = f.label :body, current_user.name
        = f.text_area :body, :required => true
      .actions
        = f.submit _('Make a comment')
