%ul#action-links.action-links
  - if @recipe.author? current_user
    %li= link_to _('edit'), edit_user_recipe_path(@recipe.author, @recipe), :class => "action-link edit"
    %li= link_to _('delete'), user_recipe_path(@recipe.author, @recipe),                    |
        :confirm => _("are you sure?"), :method => :delete, :class => "action-link delete" |
  %li
    = link_to_function _('print'), "window.open(this.href)",          |
      :href => user_recipe_path(@recipe.author,@recipe, :print => 1), |
      :class => 'action-link print'                                   |
  %li#send-email
  %li= link_to "twitter", "http://twitter.com/home?status=#{twitter(@recipe)}", |
      :class => 'action-link twitter',                                         |
      :title => _('share recipe on twitter')                                   |
  %li= link_to "facebook", facebook_sharer_url(@recipe), :class => 'action-link facebook', :title => _('share recipe on facebook')

