%ul#action-links.action-links
  - if @recipe.author? current_user
    %li.edit= link_to _('edit'), edit_user_recipe_path(@recipe.author, @recipe)
  %li#like= render 'recipes/likes', :recipe => @recipe, :author => @recipe.author
  %li= link_to_print @recipe
  %li#send-email= link_to _('email'), email_user_recipe_path(@recipe.author, @recipe), :rel => 'nofollow'

  - if @recipe.author? current_user
    %li.delete= link_to _('delete'), user_recipe_path(@recipe.author, @recipe),
      :confirm => _("are you sure?"), :method => :delete
