%ul#action-links.action-links
  - if @recipe.author? current_user
    %li= link_to _('edit'), edit_user_recipe_path(@recipe.author, @recipe), :class => "action-link edit"
    %li= link_to _('delete'), user_recipe_path(@recipe.author, @recipe),
      :confirm => _("are you sure?"), :method => :delete, :class => "action-link delete"

  %li#like= render :partial => 'likes', :locals => {:recipe => @recipe, :author => @recipe.author}
  %li= link_to_print @recipe
  %li#send-email
  %li= link_to_twitter @recipe
  %li= link_to_facebook @recipe
