<p class="close-email-container">
<%= link_to_function "#{image_tag 'close.png', :alt => _('close')}",
  "$('email-container').remove();", :title => _('close') %></p>

  <div id="send-email-wrapper">
    <p class="title send-email"><%= _("send by email") %></p>

    <% form_remote_tag :url => email_send_user_recipe_path(recipe.author,recipe),
      :after => "$('submit').down().insert({after:'<span id=\"ajax-indicator\" class=\"ajax-indicator\">#{image_tag 'ajax-indicator.gif', :alt => _('loading')} enviando...</span>'})" do %>

    <% if current_user.blank? %>
      <div class="field">
        <%= label_tag "email[name]", _("your name") %>
        <%= text_field_tag "email[name]", nil, :size => 30, :maxlength => 50 %>
      </div>
    <% end %>

    <div class="field">
      <%= label_tag "email[recipients]", _("email") %>
      <p class="hint"><%= _("can include several comma-separated") %></p>
      <%= text_field_tag "email[recipients]", nil, :size => 30 %>
    </div>

    <p><%= link_to_function _("add a message?"),
      "$('email-message').show();$('add-email-message').remove()",
      :id => 'add-email-message' %></p>

    <div id="email-message" class="field" style="display:none">
      <%= label_tag "email[message]", _("message") %>
      <%= text_area_tag "email[message]", nil %>
    </div>

    <p id="submit">
      <%= submit_tag _("send") %>
      <%= link_to_function _("cancel"), 
        "$('email-container').remove();", 
        :class => 'cancel-form' %>
    </p>
  </div>

<% end %>
