-#:after => "$('submit').down().insert({after:'<span id=\"ajax-indicator\" class=\"ajax-indicator\">#{image_tag 'ajax-indicator.gif', :alt => _('loading')} enviando...</span>'})"

%p.close-email-container
  = link_to_function image_tag('close.png', :alt => _('close')), "$('email-container').remove();", :title => _('close')

#send-email-wrapper
  %p.title.send-email= _("send by email")
  - form_tag email_send_user_recipe_path(recipe.author,recipe), :remote => true do

    - if current_user.blank?
      .field
        = label_tag "email[name]", _("your name")
        = text_field_tag "email[name]", nil, :size => 30, :maxlength => 50, :class => :text, :required => true

    .field
      = label_tag "email[recipients]", _("email")
      %p.hint= _("can include several comma-separated")
      = text_field_tag "email[recipients]", nil, :size => 30, :class => :text, :required => true

    %p= link_to_function _("add a message?"),                        |
        "$('email-message').show();$('add-email-message').remove()", |
        :id => 'add-email-message'                                   |

    #email-message.field{:style => "display:none"}
      = label_tag "email[message]", _("message")
      = text_area_tag "email[message]", nil

    %p#submit
      = submit_tag _("send")
      %span.ft= _('or')
      = link_to_function _("cancel"),     |
        "$('email-container').remove();", |
        :class => 'cancel-form'           |
