<% form_for @recipe, 
    :url => @recipe.new_record? ? @recipe : user_recipe_path(@recipe.author,@recipe),
    :html => { :multipart => true } do |f| %>
    <%= f.error_messages :header_message => _("there are some errors in the form"),
      :message => _("check the following data") %>

  <div class="field">
    <%= error_messages_for :name %>
    <%= f.text_field :name, :class => "title" %>
  </div>

   <div class="field">
    <%= f.label :category_id, _("category") %>
    <%= f.select :category_id, @categories.collect {|c| [c.name,c.id] } %>
  </div>

  <div class="field">
    <%= image_tag @recipe.photo.url(:thumb), 
        :style => "float:left; margin-right:1em" unless @recipe.photo.url == "/photos/original/missing.png" %>
    <%= f.label :photo, _("photo") %>
    <%= f.file_field :photo %>
  </div>

  <div class="field" style="margin-top:2em">
    <%= f.label :num_persons, _("number of people") %>
    <%= f.text_field :num_persons, :class => "number", :maxlength => 3 %>
  </div>
  
  <fieldset class="ingredients" style="clear:both">
    <legend><%= _("ingredients") %></legend>
    <table id="recipe_ingredients">
      <thead>
      <tr>
        <th><%= _("opt") %></th>
        <th><%= _("amount") %></th>
        <th><%= _("unit") %></th>
        <th><%= _("ingredient") %></th>
        <th><%= _("comment") %></th>
        <th></th>
      </tr>
      </thead>
      <tbody id="recipe_ingredients_body">
        <%= render :partial => "ingredient", :collection => @recipe.recipe_ingredients %>
      </tbody>
  </table>

      <p id="addingredient"><%= add_ingredient_link _("add new ingredient") %></p>

  </fieldset>

  <div class="field">
    <%= f.label :cook_time, _("preparation time") %>
    <%= f.text_field :cook_time, :class => "number", :maxlength => 3 %>
    <span class="ft"><%= _("minutes") %></span>
  </div>

  <div class="field">
    <%= f.label :directions, _("directions") %>
    <%= error_messages_for :directions %>
    <%= f.text_area :directions %>
  </div>

  <p id="submit">
    <% if controller.action_name == "new" %>
      <%= f.submit _('create') %>
        <% else %>
      <%= f.submit _('update') %>
    <% end %>
    <%= link_to _('cancel'), current_user, 
        :confirm => "you will go out and lose form data that you saved Are you sure?",
      :class => "cancel" %>
  </p>

<% end %>
