= form_for [@recipe.author,@recipe], :html => { :multipart => true } do |f|

  - unless @recipe.errors.empty?
    .error
      %h2= _('It looks like to be missing some data')
      %p= _('Reviews the form before continuing')

  .field
    = error_messages_for :name
    = f.text_field :name, :maxlength => 255, :required => true, :class => [:text,:title]

  .field
    = f.label :category_id, _("category")
    = f.select :category_id, Category.order("name asc").collect {|c| [c.name,c.id] }

  .field
    = f.label :photo, _("photo")
    - unless @recipe.photo.url == "/photos/original/missing.png"
      = image_tag @recipe.photo.url(:medium)
      %br
    = f.file_field :photo

  .field
    = f.label :num_persons, _("number of people")
    = f.text_field :num_persons, :required => true, :class => "number", :maxlength => 3

  %fieldset#ingredients.ingredients
    %legend= _("ingredients")
    %table#recipe_ingredients
      %thead
        %tr
          %th= _("opt")
          %th= _("amount")
          %th= _("unit")
          %th= _("ingredient")
          %th= _("comment")
          %th
      %tbody#recipe_ingredients_body
        = render :partial => "ingredient", :collection => @recipe.recipe_ingredients

    %p#addingredient= add_ingredient_link _("add new ingredient"), '#'

  .field
    = f.label :cook_time, _("preparation time")
    = f.text_field :cook_time, :class => "number", :maxlength => 3, :required => true
    %span.ft= _("minutes")

  .field
    = f.label :directions, _("directions")
    = error_messages_for :directions
    = f.text_area :directions, :required => true

  %p#submit
    - submit_value = @recipe.new_record? ? _("create") : _("update")
    = f.submit submit_value
    %span.fr= _("or")
    = link_to _("cancel"), current_user, :confirm => "you will go out and lose form data that you saved, Are you sure?"

