- new_or_existing = ingredient.new_record? ? 'new' : 'existing'
- prefix = "recipe[#{new_or_existing}_recipe_ingredients_attributes][]"
- ingredient_value = (ingredient.value and ingredient.value == ingredient.value.round) ? ingredient.value.round : ingredient.value

= fields_for prefix, ingredient do |rif|
  %tr.ingredient
    %td
      - if new_or_existing == 'existing'
        = rif.check_box :optional
      - else
        %input#recipe_new_recipe_ingredients_attributes__optional{:name => "recipe[new_recipe_ingredients_attributes][][optional]", :type => "checkbox", :value => "1"}/
    %td= rif.text_field :value, :value =>  ingredient_value, :size => 4, :maxlength => 11
    %td= rif.text_field :value_type, :size => 6, :maxlength => 25, :maxlength => 255
    %td= rif.text_field :name, :size => 20, :maxlength => 255, :class => :name
    %td= rif.text_field :comment, :size => 20, :maxlength => 255
    %td= link_to_function _("remove") , "$(this).parents('.ingredient').remove()"
