<li class="hrecipe clearfix">
  <%= link_to "#{image_tag recipe.photo.url(:thumb), :class => 'photo', :alt => recipe.name }", user_recipe_path(recipe.author, recipe) %>
  <div class="recipe-data">
    <h2 class="fn"><%= link_to recipe.name, user_recipe_path(recipe.author, recipe) %></h2>
    <p class="category"><%= link_to recipe.category.name, recipe.category, 
                            :title => _("{category} recipes") % {:category => recipe.category.name} %></p>

    <% unless controller.controller_name == "users" and controller.action_name == "show" %>
      <p class="author">
        <span class="ft"><%= _("by") %></span> 
        <span class="author vcard">
          <%= link_to "#{image_tag recipe.author.avatar.url(:thumb), :class => "avatar", :alt => ""}", recipe.author %>
          <%= link_to recipe.author.name, recipe.author, :class => "url fn" %>
        </span>
      </p>
    <% end %>

    <% if recipe.author? current_user %>
      <ul class="action-links">
        <li><%= link_to _('edit'), edit_user_recipe_path(recipe.author, recipe), :class => "action-link edit" %></li>
        <li><%= link_to _('delete'), user_recipe_path(recipe.author, recipe), 
          :confirm => _("are you sure?"), :method => :delete, :class => "action-link delete" %></li>
      </ul>
    <% end %>


    <div class="r-meta">
      <p class="date">
      <span class="published"><%= _("updated %{time} ago") % {
        :time => "<span class=\"value-title\" title=\"#{recipe.updated_at}\">#{distance_of_time_in_words_to_now(recipe.updated_at)}</span>"} %></span></p>
    </div>
  </div>
</li>
