%li.hrecipe.clearfix
  .photo-container
    = link_to image_tag(recipe.photo.url(:thumb), :class => 'photo', :alt => recipe.title, :title => recipe.title), user_recipe_path(recipe.author, recipe)
  .data
    %h2
      %span.fn= link_to recipe.name, user_recipe_path(recipe.author, recipe), :title => recipe.title

    - unless controller.controller_name == "users" and controller.action_name == "show"
      %p.author
        = link_to image_tag(recipe.author.avatar.url(:thumb), :class => "avatar", :alt => ""), recipe.author
        = link_to recipe.author.name, recipe.author, :class => "url fn"

    - unless recipe.recipe_ingredients.blank?
      %p= recipe.recipe_ingredients.map(&:ingredient).map(&:name).join(', ')

    .r-meta
      %p.date
        %span.published
          %span.value-title{:title => recipe.updated_at}= _("%{time} ago") % {:time => distance_of_time_in_words_to_now(recipe.updated_at)}
          %span.ft= _("in")
          %span.category= link_to recipe.category.name, recipe.category,
            :title => _("{category} recipes") % {:category => recipe.category.name}
