- if not @recipe.author.recipes.empty?
  %h3= _("%{author}'s recipes") % {:author => @recipe.author.name}
  %ul.recipes
    - @recipes_same_author.each do |recipe|
      %li.clearfix[recipe]
        = link_to image_tag(recipe.photo.url(:thumb)), user_recipe_path(recipe.author, recipe),
        :title => recipe.title, :style => "float:left; margin-right:1em"
        %p= link_to recipe.name, user_recipe_path(recipe.author, recipe), :title => recipe.title
        %p= link_to recipe.category.name, category_path(recipe.category),
            :title => _("%{category} recipes") % {:category => recipe.category.name}
              
- if not @recipe.category.recipes.empty?
  %h3= _("%{category} recipes") % {:category => @recipe.category.name}
  %ul.recipes
    - @recipes_same_category.each do |recipe|
      %li.clearfix[recipe]
        = link_to image_tag(recipe.photo.url(:thumb)), user_recipe_path(recipe.author, recipe),
          :title => recipe.title, :style => "float:left; margin-right:1em"
        %div
          %p= link_to recipe.name, user_recipe_path(recipe.author, recipe), :title => recipe.title
          %p
            = image_tag recipe.author.avatar.url(:thumb), :class => 'avatar'
            = link_to recipe.author.name, user_path(recipe.author),
              :title => _("%{author}'s recipes") % {:author => recipe.author.name}
