%p
  = link_to image_tag(@recipe.author.avatar.url(:medium), :alt => ""), @recipe.author
  %span.published= raw(_("created %{time} ago") % { |
      :time => "<span class=\"value-title\" title=\"#{@recipe.created_at}\">#{distance_of_time_in_words_to_now(@recipe.created_at)}</span>"}) |
  %span.ft= _("by")
  %span.author= link_to @recipe.author.name, @recipe.author, :class => "url fn"

- if not @recipe.author.recipes.empty?
  %h3= _("%{author}'s recipes") % {:author => @recipe.author.name}
  %ul
    - @recipes_same_author.each do |recipe|
      %li
        = link_to image_tag(recipe.photo.url(:thumb)), user_recipe_path(recipe.author, recipe), :title => recipe.title
        %div
          = link_to recipe.name, user_recipe_path(recipe.author, recipe), :title => recipe.title
          = link_to recipe.category.name, category_path(recipe.category),
            :title => _("%{category} recipes") % {:category => recipe.category.name}
              
- if not @recipe.category.recipes.empty?
  %h3= _("%{category} recipes") % {:category => h(@recipe.category.name)}
  %ul
    - @recipes_same_category.each do |recipe|
      %li
        = link_to image_tag(recipe.photo.url(:thumb)), user_recipe_path(recipe.author, recipe), :title => recipe.title
        %div
          = link_to recipe.name, user_recipe_path(recipe.author, recipe), :title => recipe.title
          = image_tag recipe.author.avatar.url(:thumb), :class => 'avatar'
          = link_to recipe.author.name, user_path(recipe.author),
            :title => _("%{author}'s recipes") % {:author => recipe.author.name}
