- unless @recipes_same_author.blank?
  %h3= _("%{author}'s recipes") % {:author => @recipe.author.name}
  %ul.recipes
    - @recipes_same_author.each do |recipe|
      %li[recipe]
        = link_to image_tag(recipe.photo.url(:thumb)), user_recipe_path(recipe.author, recipe), :title => recipe.title
        %p.name= link_to recipe.name, user_recipe_path(recipe.author, recipe), :title => recipe.title
        %p.category= link_to recipe.category.name, category_path(recipe.category), :title => _("%{category} recipes") % {:category => recipe.category.name}
        - unless @recipe.likes.blank?
          %p.likes= _("%{num} likes") % {:num => @recipe.likes.size}
              
- unless @recipes_same_category.blank?
  %h3= _("%{category} recipes") % {:category => @recipe.category.name}
  %ul.recipes
    - @recipes_same_category.each do |recipe|
      %li[recipe]
        = link_to image_tag(recipe.photo.url(:thumb)), user_recipe_path(recipe.author, recipe), :title => recipe.title
        %p.name= link_to recipe.name, user_recipe_path(recipe.author, recipe), :title => recipe.title
        %p.author
          = image_tag recipe.author.avatar.url(:thumb), :class => 'avatar'
          = link_to recipe.author.name, user_path(recipe.author), :title => _("%{author}'s recipes") % {:author => recipe.author.name}

        - unless @recipe.likes.blank?
          %p.likes= _("%{num} likes") % {:num => @recipe.likes.size}

