- cache [@recipe, @user] do
  - if @recipe.recipes_same_author.present?
    %h3= _("%{author}'s recipes") % {:author => @recipe.author.name}
    %ul.recipes
      - @recipe.recipes_same_author.each do |recipe|
        %li[recipe]
          = link_to image_tag(recipe.photo.url(:thumb)), user_recipe_path(recipe.author, recipe), :title => recipe.title
          .data
            %p.name= link_to recipe.name, user_recipe_path(recipe.author, recipe), :title => recipe.title
            %p.category= link_to recipe.category.name, category_path(recipe.category), :title => _("%{category} recipes") % {:category => recipe.category.name}
            - unless recipe.likes_count.zero?
              %p.like= _("%{num} people like it") % {:num => recipe.likes.size}
              
- cache [@recipe, @recipe.category] do
  - if @recipe.recipes_same_category.present?
    %h3= _("%{category} recipes") % {:category => @recipe.category.name}
    %ul.recipes
      - @recipe.recipes_same_category.each do |recipe|
        %li[recipe]
          = link_to image_tag(recipe.photo.url(:thumb)), user_recipe_path(recipe.author, recipe), :title => recipe.title
          .data
            %p.name= link_to recipe.name, user_recipe_path(recipe.author, recipe), :title => recipe.title
            %p.author
              = image_tag recipe.author.avatar.url(:thumb), :class => 'avatar'
              = link_to recipe.author.name, user_path(recipe.author), :title => _("%{author}'s recipes") % {:author => recipe.author.name}

            - unless recipe.likes_count.zero?
              %p.like= _("%{num} people like it") % {:num => recipe.likes.size}
