- title @recipe.title
- meta_description @recipe.directions
- meta_keywords @recipe.ingredients.map(&:name) << @recipe.category.name

.hrecipe
  = link_to image_tag(@recipe.author.avatar.url(:medium), :alt => "", :width => "50px", :height => "50px"), @recipe.author, :class => 'avatar'

  .meta
    .item
      %h1.fn
        = link_to @recipe.name, user_recipe_path(@recipe.author,@recipe), :title => @recipe.title

    %p
      = link_to @recipe.author.name, @recipe.author, :class => :author
      %span.ft
        |
      %span.category= link_to @recipe.category.name, @recipe.category, 
        :title => _("%{category} recipes") % {:category => @recipe.category.name}

      %span.ft
        |
      %span.published
        = distance_of_time_in_words_to_now @recipe.created_at
        %span.value-title{:title => I18n.l(@recipe.created_at, :format => '%Y-%m-%d')}

  = render :partial => 'recipes/action_links'

  = recipe_image_tag @recipe

  - if @recipe.recipe_ingredients.any?
    #recipe-ingredients
      %h2
        = _("ingredients")
        - unless @recipe.num_persons.blank?
          %span.yield
            (#{_("for %{num} people") % {:num => @recipe.num_persons}})

      - if @recipe.recipe_ingredients.size <=  5
        %ul.ingredients
          = render @recipe.recipe_ingredients
      - else
        - group_size = (@recipe.recipe_ingredients.size + 1) / 2
        - @recipe.recipe_ingredients.in_groups_of(group_size).each_with_index do |ri_group, i|
          %ul.ingredients{:class => i == 1 && 'last'}
            = render :partial => 'recipe_ingredients/recipe_ingredient', :collection => ri_group

  %h2.clear
    = _("directions")
    - if @recipe.cook_time
      %span.cooktime
        (#{_("%{time} min") % {:time => @recipe.cook_time}})
        %span.value-title{:title =>"PT#{@recipe.cook_time}M"}

  .instructions
    = simple_format @recipe.directions

  - if current_user or @recipe.comments.size > 1
    .comments
      %h2= _("comments")
      - if @recipe.comments.size > 1
        = render @recipe.comments.reject(&:new_record?)

      - if current_user
        = render 'comments/new', :recipe => @recipe, :comment => @comment
