- title @recipe.title
- meta_description @recipe.title
- meta_keywords @recipe.ingredients.map(&:name) << @recipe.category.name

%div{:itemscope => '', :itemtype => 'http://schema.org/Recipe'}
  = link_to image_tag(@recipe.author.avatar.url(:medium), :alt => "", :width => "50px"), @recipe.author, :style => "float:left; margin-right:1em"

  .meta
    %h1{:itemprop => 'name'}
      = link_to h(@recipe.name), user_recipe_path(@recipe.author,@recipe),
        :title => _("%{recipe} recipe by %{author}") % {:recipe => @recipe.name.downcase, :author => @recipe.author.name}

    %p
      %span{:itemprop => 'author'}= link_to @recipe.author.name, @recipe.author

      %span.ft
        |

      %span.category= link_to @recipe.category.name, @recipe.category, 
        :title => _("%{category} recipes") % {:category => @recipe.category.name}

      %span.ft
        |

      %span{:itemprop => 'datePublished', :content => I18n.l(@recipe.created_at, :format => '%Y-%m-%d')}
        = distance_of_time_in_words_to_now @recipe.created_at

  = render :partial => 'recipes/action_links'

  = recipe_image_tag @recipe

  - unless @recipe.recipe_ingredients.blank?
    #recipe-ingredients
      %h2
        = _("ingredients")
        - unless @recipe.num_persons.blank?
          %span{:itemprop => 'recipeYield'}
            (#{_("for %{num} people") % {:num => @recipe.num_persons}})

      - if @recipe.recipe_ingredients.size <=  5
        %ul.ingredients
          = render @recipe.recipe_ingredients
      - else
        - group_size = (@recipe.recipe_ingredients.size + 1) / 2
        - @recipe.recipe_ingredients.in_groups_of(group_size).each_with_index do |ri_group, i|
          %ul.ingredients{:class => i == 1 && 'last'}
            = render :partial => 'recipe_ingredients/recipe_ingredient', :collection => ri_group

  %h2.clear
    = _("directions")
    - if @recipe.cook_time
      %span{:itemprop => 'cookTime', :content => "PT#{@recipe.cook_time}M"}
        (#{_("%{time} min") % {:time => @recipe.cook_time}})

  %div{:itemprop => 'recipeInstructions'}
    = simple_format @recipe.directions

  - if current_user or @recipe.comments.any?
    .comments
      %h2= _("comments")
      - if @recipe.comments.any?
        = render @recipe.comments.reject(&:new_record?)

      - if current_user
        = render 'comments/new', :recipe => @recipe, :comment => @comment
