<div class="hrecipe-head">
  <h1 class="fn"><%=link_to h(@recipe.name), user_recipe_path(@recipe.author,@recipe), 
    :title => _("#{@recipe.name.downcase} recipe by #{@recipe.author.name}") %></h1>

  <p class="category"><%= link_to @recipe.category.name, @recipe.category, 
    :title => _("#{@recipe.category.name} recipes") %></p> 

  <ul id="action-links" class="action-links">
    <% if @recipe.author? current_user %>
      <li><%= link_to _('edit'), edit_user_recipe_path(@recipe.author, @recipe), :class => "action-link edit" %></li>
      <li><%= link_to _('delete'), user_recipe_path(@recipe.author, @recipe), 
        :confirm => _("are you sure?"), :method => :delete, :class => "action-link delete" %></li>

    <% end %>
    <li>
      <%= link_to_function _('print'), "window.open(this.href)",
          :href => user_recipe_path(@recipe.author,@recipe, :print => 1),
          :class => 'action-link print' %>
    </li>
    <li id="send-email"><%= link_to_remote _('send by email'), 
      :url => email_user_recipe_path(@recipe.author,@recipe),
      :method => :get,
      :html => {:class => 'action-link send-email', :href => email_user_recipe_path(@recipe.author,@recipe)} %></li>
    <li><%= link_to "twitter", "http://twitter.com/home?status=#{twitter(@recipe)}", 
            :class => 'action-link twitter',
            :title => _('share recipe on twitter') %></li>
    <li><%= link_to "facebook", "http://www.facebook.com/sharer.php?u=#{recipe_url(@recipe)}",
            :class => 'action-link facebook',
            :title => _('share recipe on facebook') %></li> 
  </ul>
</div>

<div class="hrecipe-main">
  <%= image_tag @recipe.photo.url(:large), 
      :class => "photo",
      :alt   => @recipe.title,
      :title => @recipe.title %>

<% unless @recipe.recipe_ingredients.blank? %>
  <h2 class="clearfix"><%= _("ingredients") %>
    <% unless @recipe.num_persons.blank? %>
      <span class="num-persons">(<%= _("for %{num} people") % {:num => "<span class=\"yield\">#{h @recipe.num_persons}</span>"} %>)</span>
    <% end %>
  </h2>
  <% if @recipe.recipe_ingredients.size <=  5 %>
    
    <ul class="ingredients">
      <% @recipe.recipe_ingredients.each do |ri|%>
        <li class="ingredient">
          <% unless ri.value.blank? %>
            <span class="value"><%= round ri.value %></span>
          <% end %>
          <% unless ri.value_type.blank? %>
            <span class="type"><%= h ri.value_type %></span>
            <span class="ft"><%= _("of") %></span>
          <% end %>
          <%= h ri.ingredient.name %>
          <%= h ri.comment %>
          <% if ri.optional %>
            <span class="ft">(<%= _("optional") %>)</span>
          <% end %>
        </li>
      <% end %>      
    </ul>

  <% else %>
    <% group_size = (@recipe.recipe_ingredients.size + 1) / 2 %>
    <% @recipe.recipe_ingredients.in_groups_of(group_size).each do |ri_group| %>
      <ul class="ingredients">
        <% ri_group.each do |ri| %>
          <% unless ri.nil? %>
            <li class="ingredient">
              <% unless ri.value.blank? %>
                <span class="value"><%= round ri.value %></span>
              <% end %>
              <% unless ri.value_type.blank? %>
                <span class="type"><%= h ri.value_type %></span>
                <span class="ft"><%= _("of") %></span>
              <% end %>
              <%= h ri.ingredient.name %>
              <%= h ri.comment %>
              <% if ri.optional %>
                <span class="ft">(<%= _("optional") %>)</span>
              <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>      

  <% end %>
<% end %>

<h2 class="clear"><%= _("directions") %>
  <% unless @recipe.cook_time.blank? %>
    <span class="duration">(<span class="value-title" title="@recipe.cook_time"></span><%=h @recipe.cook_time %> <%= _("min") %>)</span>
  <% end %>
</h2>

<div class="instructions">
  <%= simple_format(h(@recipe.directions)) %>
</div>

<%= render :partial => "comments" %>
<%= will_paginate @comments %>

</div>

<div id="recipe-sidebar">
  <%= render :partial => "show_sidebar" %>  
</div>

<br class="clear" style="margin-top:2em" />
