- cache @recipe.cache_key do
  - title @recipe.title
  - meta_description @recipe.title
  - meta_keywords @recipe.ingredients.map(&:name) << @recipe.category.name

  .hrecipe
    = link_to image_tag(@recipe.author.avatar.url(:medium), :alt => "", :width => "50px", :height => "50px"), @recipe.author, :class => 'avatar'

    .meta
      .item
        %h1.fn
          = link_to @recipe.name, user_recipe_path(@recipe.author,@recipe), :title => @recipe.title

      %p
        = link_to @recipe.author.name, @recipe.author, :class => :author
        %span.ft
          |
        %span.category= link_to @recipe.category.name, @recipe.category, 
          :title => _("%{category} recipes") % {:category => @recipe.category.name}

        %span.ft
          |
        %span.published
          = distance_of_time_in_words_to_now @recipe.created_at
          %span.value-title{:title => I18n.l(@recipe.created_at, :format => '%Y-%m-%d')}

    = render 'recipes/add_this'
    = add_this(@recipe)

    = recipe_image_tag @recipe

    - unless @recipe.recipe_ingredients.count.zero?
      = render 'recipe_ingredients', :recipe => @recipe

    %h2.clear
      = _("directions")
      - if @recipe.cook_time
        %span.cooktime
          (#{_("%{time} min") % {:time => @recipe.cook_time}})
          %span.value-title{:title =>"PT#{@recipe.cook_time}M"}

    .instructions
      = simple_format @recipe.directions

  - if @recipe.comments.count > 1
    .comments
      %h2= _("comments")
      = render @recipe.comments.includes(:user).reject(&:new_record?)

- if current_user
  - if @recipe.comments.count.zero?
    %h2= _("comments")
  = render 'comments/new', :recipe => @recipe, :comment => @comment
