.hrecipe-head
  %h1.fn= link_to h(@recipe.name), user_recipe_path(@recipe.author,@recipe), |
      :title => _("%{recipe} recipe by %{author}") % {                   |
      :recipe => @recipe.name.downcase, :author => @recipe.author.name}  |
  %p.category=  link_to @recipe.category.name, @recipe.category,:title => _("%{category} recipes") % {:category => @recipe.category.name}
  %ul#action-links.action-links
    - if @recipe.author? current_user
      %li= link_to _('edit'), edit_user_recipe_path(@recipe.author, @recipe), :class => "action-link edit"
      %li= link_to _('delete'), user_recipe_path(@recipe.author, @recipe),                    |
          :confirm => _("are you sure?"), :method => :delete, :class => "action-link delete" |
    %li
      = link_to_function _('print'), "window.open(this.href)",          |
        :href => user_recipe_path(@recipe.author,@recipe, :print => 1), |
        :class => 'action-link print'                                   |
    %li#send-email
    %li= link_to "twitter", "http://twitter.com/home?status=#{twitter(@recipe)}", |
        :class => 'action-link twitter',                                         |
        :title => _('share recipe on twitter')                                   |
    %li= link_to "facebook", facebook_sharer_url(@recipe), :class => 'action-link facebook', :title => _('share recipe on facebook')
.hrecipe-main
  = image_tag @recipe.photo.url(:large), |
    :class => "photo",                   |
    :alt   => @recipe.title,             |
    :title => @recipe.title              |
  - unless @recipe.recipe_ingredients.blank?
    %h2.clearfix
      = _("ingredients")
      - unless @recipe.num_persons.blank?
        %span.num-persons
          (#{(_("for %{num} people") % {:num => "<span class=\"yield\">#{@recipe.num_persons}</span>"}).html_safe})
    - if @recipe.recipe_ingredients.size <=  5
      %ul.ingredients
        - @recipe.recipe_ingredients.each do |ri|
          %li.ingredient
            - unless ri.value.blank?
              %span.value= round ri.value
            - unless ri.value_type.blank?
              %span.type= h ri.value_type
              %span.ft= _("of")
            = h ri.ingredient.name
            = h ri.comment
            - if ri.optional
              %span.ft
                (#{_("optional")})
    - else
      - group_size = (@recipe.recipe_ingredients.size + 1) / 2
      - @recipe.recipe_ingredients.in_groups_of(group_size).each do |ri_group|
        %ul.ingredients
          - ri_group.each do |ri|
            - unless ri.nil?
              %li.ingredient
                - unless ri.value.blank?
                  %span.value= round ri.value
                - unless ri.value_type.blank?
                  %span.type= h ri.value_type
                  %span.ft= _("of")
                = h ri.ingredient.name
                = h ri.comment
                - if ri.optional
                  %span.ft
                    (#{_("optional")})
  %h2.clear
    = _("directions")
    - unless @recipe.cook_time.blank?
      %span.duration
        (
        %span.value-title{:title => "@recipe.cook_time"}
        = h @recipe.cook_time
        = _("min")
        )
  .instructions
    = simple_format(@recipe.directions)
  = render :partial => "comments"
  = will_paginate @comments
#recipe-sidebar
  = render :partial => "show_sidebar"
%br.clear{:style => "margin-top:2em"}/
