%ul.user-nav
  %li
    %h2{:class => current_page?(:action => :show) && 'current'}= link_to_unless_current raw(n_("%{num} recipe", "%{num} recipes", @user.recipes.size) % {:num => "<strong>#{@user.recipes.size}</strong>"}), @user
  %li
    %h2{:class => current_page?(:action => :following) && 'current'}= link_to_unless @user.followings.blank?, raw(n_("%{num} following", "%{num} followings", @user.followings.size) % {:num => "<strong>#{@user.followings.size}</strong>"}), following_user_path(@user)
  %li
    %h2{:class => current_page?(:action => :likes) && 'current'}= link_to_unless @user.likes.blank?, raw(n_("%{num} like", "%{num} likes", @user.likes.size) % {:num => "<strong>#{@user.likes.size}</strong>"}), likes_user_path(@user)
