- unless user.categories.blank?
  %h3= _("categories")
  %ul
    - user.categories.each do |category|
      %li
        = link_to_unless_current category.name, [user, category]
        %span.counter (#{category.recipes.by_author(user.id).count})
    %li
      = link_to_unless_current _("all"), @user
      %span.counter (#{user.recipes.count})
