<h1><%= _("change password") %></h1>

<%= form_for :user, @user, :url => updatepassword_user_path(@user) do |f| %>
  <%= f.error_messages :header_message => nil, :message => nil %>

  <div class="field">
    <%= f.label :password, _("password") %>
    <%= f.password_field :password, :class => "text", :size => 30, :maxlength => 255 %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, _("confirm password") %>
    <%= f.password_field :password_confirmation, :class => "text", :size => 30, :maxlength => 255 %>
  </div>

  <p id="submit">
    <%= f.submit _("change") %>
  </p>

<% end %>
