<h1>cambiar contraseña</h1>

<% form_for :user, @user, :url => updatepassword_user_path(@user) do |f| %>
  <%= f.error_messages :header_message => nil, :message => nil %>

  <div class="field">
    <%= f.label :password, "contraseña" %>
    <%= f.password_field :password, :class => "text", :size => 30, :maxlength => 255 %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "confirmar contraseña" %>
    <%= f.password_field :password_confirmation, :class => "text", :size => 30, :maxlength => 255 %>
  </div>

  <p id="submit">
    <%= f.submit "cambiar" %>
  </p>

<% end %>
