<h1>editar perfil de <%= @user.name %></h1>

<p><%= link_to "cambiar password", changepassword_user_path %></p>
<% form_for @user, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name, "nombre" %>
    <%= f.text_field :name, :class => "text", :size => 30, :maxlength => 255 %>
  </div>

  <div class="field">
    <%= f.label :email, "email" %>
    <%= f.text_field :email, :class => "text", :size => 30, :maxlength => 255 %>
  </div>

  <div class="field">
    <%= f.label :avatar, "avatar" %>
    <%= f.file_field :avatar %>
  </div>

  <p id="submit">
    <%= f.submit "guardar" %>
  </p>

<% end %>
