<h1><%= _("edit profile") %></h1>

<p><%= link_to _("change password"), changepassword_user_path %></p>
<% form_for @user, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <div class="field">
    <%= f.label :name, _("name") %>
    <%= f.text_field :name, :class => "text", :size => 30, :maxlength => 255 %>
  </div>

  <div class="field">
    <%= f.label :email, _("email") %>
    <%= f.text_field :email, :class => "text", :size => 30, :maxlength => 255 %>
  </div>

  <div class="field">
    <%= f.label :avatar, _("avatar") %>
    <%= f.file_field :avatar %>
  </div>

  <p id="submit">
    <%= f.submit _("save") %>
  </p>

<% end %>
