%h1= _("edit profile")
%p= link_to _("change password"), changepassword_user_path
= form_for @user, :html => { :multipart => true } do |f|
  = f.error_messages
  .field
    = f.label :name, _("name")
    = f.text_field :name, :class => "text", :size => 30, :maxlength => 255
  .field
    = f.label :email, _("email")
    = f.text_field :email, :class => "text", :size => 30, :maxlength => 255
  .field
    = f.label :avatar, _("avatar")
    = f.file_field :avatar
  %p#submit
    = f.submit _("save")
