- title user_title(@user, @category, @recipes.current_page)
- meta_description user_title(@user, @category, @recipes.current_page)
- meta_keywords [@user.name]

- content_for :sidebar do
  = render 'users/sidebar', user: @user, categories: @categories

- if @recipes.empty?
  - if not current_user or @user != current_user
    = render 'blank_recipes', user: @user
  - else
    = render 'welcome', user: @user

- else
  - if current_user == @user
    %p= link_to _('create a new recipe'), new_user_recipe_path(current_user)

  %ul.recipes
    = render @recipes
  = will_paginate @recipes

  = render 'feed'
