- title user_title(@user, @category, @recipes.current_page)
- meta_description user_title(@user, @category, @recipes.current_page)
- meta_keywords [@user.name]
- user_categories_sidebar(@user, @categories)

- if @recipes.empty?
  = welcome_or_blank(@user, current_user)
- else
  = link_to_new_recipe @user

  %ul.recipes
    = render @recipes
  = will_paginate @recipes

  - if @category
    = render 'users/category_feed', :user => @user, :category => @category
  - else
    = render 'users/feed', :user => @user
