.wrapper
  %ul
    %li.first{:style => "border:none"}= link_to _("about rezets.com"), :controller => "home", :action => "about"
    %li= link_to _("blog"), "http://blog.rezets.com"
    %li= link_to _("contact"), :controller => "home", :action => "feedback"

  %p
    siguenos en 
    = link_to "twitter", "http://twitter.com/rezets"
    y en 
    = link_to "facebook", "http://facebook.com"
