<% unless controller.controller_name == "sessions" and controller.action_name == "new" %>
  <ul class="toolbar">

    <% if current_user.nil? %>

      <li class="last"><%= link_to _("login"), new_session_path %></li>

    <% else %>
      <li>
        <%= link_to "#{image_tag current_user.avatar.url(:thumb), :class => 'avatar', :alt => ""}", current_user %>
        <%= link_to current_user.name, current_user %>
      </li>

      <li><%= link_to _("edit profile"), edit_user_path(current_user) %></li>

      <li><%= link_to _("invite friends"), new_invitation_path %></li>

      <li class="last"><%= link_to _("logout"), session_path, :method => :delete %></li>

    <% end %>
  </ul>
<% end %>

<div class="logo">
  <p class="tagline"><%= _("share your recipes") %></p>
  <%= render :partial => "common/search" %>
  <h1>
    <%= link_to "<strong>rezets</strong>.com <span class=\"version\">v0.2</span>", :controller => "home", :action => "index" %>
  </h1>
</div>

<div class="basic-freedoms">
  <p class="title"><%= _("discover new recipes") %></p>
  <p><%= _("create your own cookbook") %></p>
  <p><%= _("share your recipes with your friends") %></p>
</div>
