%h2
  %span= _("categories")
- unless @categories.blank?
  %ul
    - @categories.each do |category|
      %li
        = link_to category.name, category

- unless @users.count.empty?
  .users
    %h2= _("featured users")
    %ul.users-list
      - @users.order("num_recipes desc").each do |user|
        %li.user
          = link_to image_tag(user.avatar.url(:medium), :class => "avatar", :alt => ""), user
          %p= link_to user.name, user
          %p.num-recipes #{user.recipes.count} recetas

