%h2
  %span= _("categories")
- unless @categories.blank?
  %ul
    - @categories.each do |category|
      %li
        %p
          = link_to category.name, category
          %span.counter
            (#{category.recipes.size})

/ last comments
- unless @users.blank?
  .users
    %h2= _("featured users")
    %ul.users-list
      - @users.each do |user|
        %li.user
          %p
            = link_to "#{image_tag user.avatar.url(:medium), :class => "avatar", :alt => ""}", user
            = link_to h(user.name), user
            #{user.recipes.count} recetas
          %p{:style => "font-size:1.2em"}
            = _("last recipe")
          %p= link_to h(user.recipes.last.name), recipe_path(user.recipes.last), :title => user.recipes.last.title

