%h2
  %span= _("recipes")
- unless @categories.blank?
  %ul
    - @categories.each do |category|
      %li
        = link_to category.name, category

- unless @users.empty?
  .users
    %h2= _("featured users")
    %ul.featured-users
      - @users.each do |user|
        %li.user
          = link_to image_tag(user.avatar.url(:medium), :class => "avatar", :alt => ""), user
          %p= link_to user.name, user
          %p.meta
            = _("%{num} recipes") % {:num => user.recipes.size}
            %span.ft= '|'
            = link_to n_("%{num} follower", "%{num} followers", user.followers.size) % {:num => user.followers.size}

