- title _("about rezets.com")

%h1= _("about rezets.com")

= image_tag "bck_home_header.png", :alt => "recipe monkey", :class => "right"

%p= _("rezets.com is a project that stems from the need, but not a necessity like any other, but a basic need, primary, first order, the need to eat, and do it well (which is a connoisseur), and cheap that (the economy is not enough to go throwing money).")

%p= _("For that reason, some time ago, I began to give vuestas the issue and think how could I give me life, not waste too much time thinking about what to eat, keep those recipes well organized for the next time you need and of course , learn new recipes from my friends.")

%p= _("There was also another reason to start a project. I needed to learn web development environment and have a battlefield where you can make and unmake as I please without worrying about consequences, and since by that time had some wonderful colleagues who offered to teach me what I knew I opted for using %{ror} to develop my idea.") % {:ror => link_to("Ruby on Rails", "http://www.rubyonrails.org.es") }

%p= _("Finally, this month of August 2009 I set to work, aiming for the end of the month with the 0.1 version of the web. The rest you can see for yourselves. I hope you enjoy it and can get a lot out of this.")

%p= _("Thank you.")
