- title "rezets.com - " + _('share your recipes')
- meta_description _("Create and share recipes with your friends")
- meta_keywords [_("recipe"), _("cook"), _("cooking"), _("eat"), _("food")]

- content_for :top do
  .home-welcome
    %h1= _("What have you cooked today?")
    %p= _("Share your recipes and discover lots of them.")

.featured-recipes
  %h2= _("Today featured recipes")
  - cache ['home', 'most_popular', @recipes] do
    %ul= render :partial => 'recipe', :collection => @recipes


%p.clear= link_to _("Subscribe to the latest recipes"), 'http://feeds.feedburner.com/rezetscom', :class => "feed-link"

- content_for :sidebar do
  = render 'sidebar'

- content_for :feed do
  = auto_discovery_link_tag :atom, {:action => :feed}, {:title => _("freshly made recipes rezets.com")}
