- title 'rezets.com - ' + _('share your recipes')
- meta_description _("create and share recipes with your friends")
- meta_keywords [_("recipe"), _("cook"), _("cooking"), _("eat"), _("food")]

- content_for :top do
  .home-welcome
    %h1= _("What have you cooked today?")
    %p= _("Share your recipes and discover lots of them.")

.featured-recipes
  %h2= _("today featured recipes")
  %ul
    - @recipes.each do |recipe|
      %li{:class => cycle(nil,"last")}
        %h3= link_to h(recipe.name), user_recipe_path(recipe.author,recipe), :title => recipe.title
        %p.user
          = image_tag recipe.author.avatar.url(:thumb), :class => "avatar", :alt => recipe.author.name, :title => recipe.author.name
          = link_to h(recipe.author.name), recipe.author

        %p= link_to image_tag(recipe.photo.url(:medium), :class => 'photo', :alt => h(recipe.name)), user_recipe_path(recipe.author,recipe)
        %p.created= raw(_("%{time} ago on %{category}") % { |
          :time => distance_of_time_in_words_to_now(recipe.created_at), |
          :category => link_to(recipe.category.name, recipe.category)}) |


%p= link_to _("subscribe to the latest recipes"), feed_path, :class => "feed-link"

- content_for :sidebar do
  = render :partial => 'sidebar'

- content_for :feed do
  = auto_discovery_link_tag :atom, {:action => :feed}, {:title => _("freshly made recipes rezets.com")}

