- title _('share your recipes')

.sidebar.sidebar-home
  = render :partial => 'sidebar'

.main
  %h2= _("What do you feel like cooking today?")
  %p= _("Share your recipes and discover lots of them")

  - unless @recipes.blank?
    %ul.last-recipes
      - @recipes.each do |recipe|
        %li{:class => "clearfix #{cycle("left","right")}"}
          %h3= link_to h(recipe.name), user_recipe_path(recipe.author,recipe), :title => recipe.title
          %p.user
            = image_tag recipe.author.avatar.url(:thumb), :class => "avatar", :alt => recipe.author.name, :title => recipe.author.name
            = link_to h(recipe.author.name), recipe.author

          %p= link_to image_tag(recipe.photo.url(:medium), :class => 'photo', :alt => h(recipe.name)), user_recipe_path(recipe.author,recipe)
          %p.created
            = _("%{time} ago") % {:time => distance_of_time_in_words_to_now(recipe.created_at)}
            en
            = link_to recipe.category.name, recipe.category


  %p{:style => "margin-top:2em"}
    = link_to _("subscribe to the latest recipes"), |
      url_for(:controller => "home", :action => "feed"), :class => "feed-link"

  %br.clear/
