<p><%= link_to _("send invite"), new_invitation_path %></p>
<% unless @invitations.blank? %>
  <table>
    <tr>
      <th><%= _("send") %></th>
      <th><%= _("email") %></th>
      <th><%= _("envoy") %></th>
      <th><%= _("received") %></th>
      <th><%= _("user") %></th>
    </tr>
    <% @invitations.each do |i| %>
      <tr>
        <td><%= i.sender.name %></td>
        <td><%= i.email %></td>
        <td><%= distance_of_time_in_words_to_now i.created_at %></td>
        <td><%= distance_of_time_in_words_to_now i.updated_at %></td>
        <td><%= i.receiver.name unless i.receiver.nil? %></td>
      </tr>
    <% end %>
  </table>
  
  <%= will_paginate @invitations %>
<% end %>
