<h1><%= _("send invitation to rezets.com") %></h1>

<% if current_user.id == 1 %>
    <p><%= link_to _("see all invitations"), invitations_path %></p>
<% end %>

<% if @remaining_invitations > 0 or current_user.id == 1 %>

  <p><%= _("Write the address of the person you want to invite to rezets.com and we will send an email with the text you typed and a link so it can register. You can customize the message included below and tell your friends because you like rezets.com.") %></p>

  <p style="margin-top:1em"><%= _("You have %{num_invitations} invitations to send to your friends which will remain %{remaining_invitations}.") % {
    :num_invitations => "<strong>10</strong>", :remaining_invitations => "<strong>#{@remaining_invitations}</strong>"} %></p>

  <% form_for @invitation do |f| %>
    <%= f.error_messages :header_message => _("there are some errors in the form"),
      :message => "comprueba los datos a continuación" %>

    <div class="field">
      <%= f.label :email, "email" %>
      <%= f.text_field :email, :size => 30, :maxlength => 255 %>
    </div>

    <div class="field">
      <%= label :mail, :subject, "asunto" %>
      <%= text_field :mail, :subject, :value => _("%{user} has invite you to rezets.com") % {:user => current_user.name}%>
    </div>

    <div class="field">
      <%= label :mail, :message, _("message") %>
      <%= text_area :mail, :message, :value => email_message(current_user.name) %>
    </div>

    <p id="submit">
      <%= f.submit _('send') %>
      <%= link_to _('cancel'), current_user, 
          :confirm => "you will go out and lose form data that you saved Are you sure?",
        :class => "cancel" %>
    </p>

  <% end %>

<% else %>

  <div class="msg info">
    <p><%= _("Sorry but you've exhausted all your invitations!") %></p>
    <p><%= _("thank you very much to publicize rezets.com your friends, thanks to you today we are a little larger. When you say we have more invitations will inform you of this.") %></p>
  </div>

<% end %>
