- content_for :sidebar do
  %h3= _("categories")
  %ul
    - for category in @categories
      %li
        - if @user
          = link_to_unless_current category.name, [@user,category],
            :title => _("%{category} recipes") % {:category => h(category.name)}
          %span.counter
            (#{@user.recipes.where(:category_id => category.id).size})
        - else
          = link_to_unless_current category.name, category,
            :title => _("%{category} recipes") % {:category => h(category.name)}
          %span.counter
            (#{category.recipes.size})
    %li
      - if @user
        = link_to_unless_current _("all"), @user
        %span.counter
          (#{@user.recipes.size})
      - else
        = link_to_unless_current _("all"), recipes_path
        %span.counter
          (#{Recipe.count})
