%h3= _("Recipes")
%ul
  - categories.each do |category|
    %li
      = link_to_unless_current category.name, category,
        :title => _("%{category} recipes") % {:category => category.name}
      %span.counter (#{Recipe.where(:category_id => category.id).count})
  %li
    = link_to_unless_current _("all"), recipes_path
    %span.counter (#{Recipe.count})
