<h3><%= _("categories") %></h3>
<ul>
<% for category in @categories %>
  <li><%= link_to_unless_current category.name, category,
    :title => _("%{category} recipes") % {:category => h(category.name)}
  %> <span class="counter">(<%= category.recipes.size %>)</span></li>
<% end %>
  <li><%= link_to_unless_current _("all"), categories_path %> <span class="counter">(<%= Recipe.count %>)</span></li>
</ul>
