<% if @category.nil? %>
  <h1><%= _("recipes by categories") %></h1>
<% else %>
  <h1><%= _("%{category} recipes") % {:category => @category.name} %></h1>
<% end %>

<div class="sidebar sidebar-categories">
  <%= render :partial => "sidebar" %>
</div>

<div class="main">
  <% if @recipes.blank? %>
    <div class="msg blank">
      <h2><%= _("we do not have any %{category} recipe") % {:category => @category.name} %></h2>
      <p><%= _("you can %{add_recipe} yourself if you know some you want to share with your friends.") % {
        :add_recipe => link_to(_("add a recipe"), new_user_recipe_path(current_user))} %></p>
    </div>
  <% else %>
    <ul class="recipes">
      <% @recipes.each do |recipe| %>
        <%= render :partial => "recipes/recipe", :locals => {
          :recipe => recipe } %>
      <% end %>
    </ul>

    <%= will_paginate @recipes %>

  <% end %>

  <br class="clear" />
</div>
