- content_for :sidebar do
  = render 'sidebar', :user => @user, :categories => @categories

- unless @user
  - content_for :top do
    %h1= title _("%{category} recipes") % {:category => @category.name}

- if @recipes.present?
  %ul.recipes
    = render @recipes
  = will_paginate @recipes

- else
  .msg.blank
    %h2= _("we do not have any %{category} recipe") % {:category => @category.name}
    %p= _("you can %{add_recipe} yourself if you know some you want to share with your friends.") % { |
        :add_recipe => link_to(_("add a recipe"), new_user_recipe_path(current_user))}                |
