<div class="wrapper">

  <ul>
    <li class="first"><strong>rezets</strong>.com</li>
    <li style="border:none"><%= link_to _("about"), :controller => "home", :action => "about" %></li>
    <li style="border:none"><%= link_to _("blog"), "http://blog.rezets.com" %></li>
    <li><%= link_to _("contact"), :controller => "home", :action => "feedback" %></li>
  </ul>
  <%#
  <p>
  <%= cookies["lang"] ><br/>
<%= _("languages") >:
  <%= link_to_unless @locale == "en", "english", "http://en.rezets.com" > <span class="ft">|</span>
  <%= link_to_unless @locale == "es", "español", "http://rezets.com" >
  </p>
%>

</div>
