<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
  <%= render :partial => "common/metaheader" %>
  <%= stylesheet_link_tag 'base', 'rezets' %>
  <%= stylesheet_link_tag 'print', :media => 'print' %>
  <%= javascript_include_tag 'prototype', 'application' %>
</head>
<body>
  
  <div id="overwrapper">
    <div class="wrapper">

      <% if controller.controller_name == "home" and controller.action_name == "index" %>
        <div class="header-home">
          <%= render :partial => "header" %>
        </div>
      <% else %>
        <div id="header">
          <%= render :partial => "common/header" %>
        </div>
      <% end %>

      <div <%= "id=\"#{@page_identifier}\"" unless @page_identifier.nil? %> <%= "class=\"#{@page_class}\"" unless @page_class.nil? %>>
        <% if flash[:notice] %>
          <p id="message" class="notice"><%= flash[:notice] %></p>
        <% end %>
        <%= yield %>
      </div>

    </div>
  </div>

  <div id="footer">
    <%= render :partial => "common/footer" %>
  </div>

  <%= render :partial => "common/scripts" %>

</body>
</html>
