!!! 5
%html{:lang => I18n.locale}
  %head
    %title= title
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "index,follow", :name => "robots"}/

    - if content_for? :meta_description
      %meta{:content => content_for(:meta_description), :name => "description"}

    - if content_for? :meta_keywords
      %meta{:content => content_for(:meta_keywords), :name => "keywords"}

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lobster'
    - if controller.action_name == 'print'
      = stylesheet_link_tag 'print', :media => 'print'
      = stylesheet_link_tag 'print', :media => 'screen'
      :css
        @print {
          .print {display:none}
        }
      :javascript
        $(document).ready(function(){print();});
    - else
      = stylesheet_link_tag 'application.css', :media => 'screen, projection'
      = stylesheet_link_tag 'print.css', :media => 'print'
      /[if IE]
        = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
      /[if lt IE 7]
        = stylesheet_link_tag 'ie6.css', :media => 'screen, projection'

    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fa7f5a61bbd9a3b"></script>

  %body
    %header
      .wrapper
        #nav= render "shared/nav"
        = render "shared/header"
        = render "shared/search"
    #recipe
      = render "ads"
      #main
        - if notice
          %p#message.notice= notice
        = yield
      %aside
        = render "recipes/sidebar"

    %footer
      = render "shared/footer"

    = javascript_include_tag :application
    = render "shared/scripts"
