!!! 5
%html{:lang => "es"}
  %head
    %title= title
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "index,follow", :name => "robots"}/

    - if content_for? :meta_description
      %meta{:content => content_for(:meta_description), :name => "description"}

    - if content_for? :meta_keywords
      %meta{:content => content_for(:meta_keywords), :name => "keywords"}

    - if content_for? :feed
      = content_for :feed

    %link{ :href => 'http://fonts.googleapis.com/css?family=Lobster', :rel => 'stylesheet', :type => 'text/css'}
    = stylesheet_link_tag 'rezets.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    /[if lt IE 7]
      = stylesheet_link_tag 'ie6.css', :media => 'screen, projection'

    = javascript_include_tag :defaults, :cache => true
    

  %body
    #header
      .wrapper
        #nav= render :partial => "shared/nav"
        = render :partial => "shared/header"
        = render :partial => "shared/search"

    #wrapper
      - if notice
        %p#message.notice= notice
 
      = render :partial => 'users/vcard'

      #main
        = render :partial => 'users/nav'
        = yield

      - if content_for? :sidebar
        #sidebar
          = content_for :sidebar

    #footer
      = render :partial => "shared/footer"

    = render :partial => "shared/scripts"
