!!! 5
%html{:lang => I18n.locale}
  %head
    %title= title
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:content => "index,follow", :name => "robots"}/

    - if content_for? :meta_description
      %meta{:content => content_for(:meta_description), :name => "description"}

    - if content_for? :meta_keywords
      %meta{:content => content_for(:meta_keywords), :name => "keywords"}

    - if content_for? :feed
      = content_for :feed

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lobster'
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    /[if lt IE 7]
      = stylesheet_link_tag 'ie6.css', :media => 'screen, projection'

    = javascript_include_tag :application

  %body
    %header
      .wrapper
        #nav= render "shared/nav"
        = render "shared/header"
        = render "shared/search"

    #wrapper
      = render "ads"

      - if notice
        %p#message.notice= notice
 
      = render 'users/vcard'

      #main
        = render 'users/nav'
        = yield

      - if content_for? :sidebar
        %aside
          = content_for :sidebar

    %footer
      = render "shared/footer"

    = render "shared/scripts"
